<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Town:</strong>
  <%= @user.town %>
</p>

<p>
  <strong>Years in business:</strong>
  <%= @user.years_in_business %>
</p>

<p>
  <strong>Category business:</strong>
  <%= @user.category_business %>
</p>

<p>
  <strong>No sales per day:</strong>
  <%= @user.no_sales_per_day %>
</p>

<p>
  <strong>Type of brand:</strong>
  <%= @user.type_of_brand %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @user.cost %>
</p>

<p>
  <strong>Open to new brand:</strong>
  <%= @user.open_to_new_brand %>
</p>

<p>
  <strong>Commission from distributors:</strong>
  <%= @user.commission_from_distributors %>
</p>

<p>
  <strong>Local distributor name:</strong>
  <%= @user.local_distributor_name %>
</p>

<p>
  <strong>Selling price bottles:</strong>
  <%= @user.selling_price_bottles %>
</p>

<p>
  <strong>Expected bottle cost:</strong>
  <%= @user.expected_bottle_cost %>
</p>

<p>
  <strong>Sell our product:</strong>
  <%= @user.sell_our_product %>
</p>

<p>
  <strong>High period:</strong>
  <%= @user.high_period %>
</p>

<p>
  <strong>Low period:</strong>
  <%= @user.low_period %>
</p>

<p>
  <strong>Moderate:</strong>
  <%= @user.moderate %>
</p>

<p>
  <strong>Amenities provided:</strong>
  <%= @user.amenities_provided %>
</p>

<p>
  <strong>Total delivered by distributor:</strong>
  <%= @user.total_delivered_by_distributor %>
</p>

<p>
  <strong>Local choice of drink:</strong>
  <%= @user.local_choice_of_drink %>
</p>

<p>
  <strong>Advertising material provided:</strong>
  <%= @user.advertising_material_provided %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %> 
<%= link_to 'Back', users_path, class: "btn btn-primary" %>
